<!DOCTYPE html>
<html>
<head>
  <title>Carris Live Map</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
  <style>
    #map { height: 100vh; margin: 0; padding: 0; }
    body, html { height: 100%; margin: 0; }
  </style>
  <script>
    let routeIDS = <%- JSON.stringify(ids) %>;
    let shapes = <%- JSON.stringify(shapes) %>;
    let stops = <%- JSON.stringify(stops) %>;
  </script>
</head>
<body>
  <div id="map"></div>

  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
  <script src="carris.js"></script>
</body>
</html>
